NODE_ENV=development
PORT=4069

MONGODB_URL=mongodb://127.0.0.1:27017/monitoring

JWT_SECRET=thisisasamplesecret

# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=60

# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30

# Number of minutes after which a verify email token expires
JWT_2FA_TOKEN_EXPIRATION_MINUTES=5